{% extends "base.html" %}

{% block head %}
<title>Statistics</title>
{% endblock head %}

{% block body %}
<h1 style="text-align: center;">D A S H B O A R D</h1>
<br>
<br>
<div class="container">
    <div class = "row" >
        <div class="col-md">
          <h2 style="text-align: center;">Power Output for next 72 Hours</h2>
            <img src="{{ url_for('static',filename = 'images/chart2.png')}}" >
        </div>
    </div>
    <br>
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Show Expected Power Table
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table" style="align-items: center;">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Hour</th>
                        <th scope="col">Expected Power</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for val in pred %}
                      <tr>
                        <td>+{{ val[0] }} Hr</td>
                        <td>{{ val[1] }} kW</td>        
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
        </div>     
      </div>
      <br>
    <div class="alert alert-primary" role="alert">
        Estimated Power to be produced in next 72 hours is {{ t_power }} kW
    </div>
    <div class="alert alert-secondary" role="alert">
        Average Power being produced {{ avg }} kW per Hour
    </div>
    <br>
    <div class = "row" >
      <div class="col-md">
          <img src="{{ url_for('static',filename = 'images/prev5speed.png')}}" >
      </div>
    </div>
    <br>
    <div class = "row" >
      <div class="col-md">
          <img src="{{ url_for('static',filename = 'images/prev5dir.png') }}" >
      </div>
    </div>
    <br>
    <div class="row" style="padding: 10px;margin-left: 10px;">
        <div class="col-md">
            <img src="{{ url_for('static',filename = 'images/monthvspower.png')}}"></img>
        </div>
        <div class="col-md">
            <img src="{{ url_for('static',filename = 'images/windvspower.png')}}"></img>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <img src = "{{ url_for('static',filename = 'images/wind_dirvspower.png')}}"></img>
        </div>
    </div>
</div>

{% endblock body %}